* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    background-color: #e8e8e8;
}

body, html {
    height: 100%;
}

.main-header {
    display: flex;
    height: 100vh;
    width: 100%;
}

.left {
    position: relative;
    width: 50%;
    height: 100%;
    overflow: hidden;
}

.logo-image {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.right {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

a {
    text-decoration: none;
}

.navLinks {
    list-style: none;
    display: flex;
    gap: 75px;
}

.navLinks a {
    font-weight: 700;
    text-decoration: none;
    color: #393939;
}

.navLinks a:hover {
    color: #e5ff1e;
    transition: all 0.3s ease;
}


button {
    padding: 10px 20px;
    background-color: #e5ff1e;
    border: none;
    border-radius: 25px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    display: flex;
    gap: 20px;
}

button:hover {
    background-color: black;
    color: #e5ff1e;
    transition: all 0.3s ease;
}

.slogan h2 {
    color:rgb(57, 57, 57);
    font-weight: 510;
    font-size: 70px;
    justify-content: left;
}

.welcome h1{
    padding: 5px;
    background-color: #e5ff1e;
    text-align: center;
    object-fit: cover;
    font-size: 38px;
}

.discover{
    margin: 7%;
    align-items: center;
    display: flex;
    justify-content: center;
}

.box_discover {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    max-width: 60%;
}

.box_discover h3 {
    font-size: 23px;
    font-weight: 500;
    font-style: italic;
    margin-bottom: 5%;
}

.box_discover button {
    padding: 15px 20px;
    background-color: #e5ff1e;
    border: none;
    border-radius: 35px;
    font-weight: 700;
    cursor: pointer;
    display: flex;
    font-size: 28px;
}

.box_discover button:hover {
    background-color: black;
    color: #e5ff1e;
    transition: all 0.3s ease;
}

.special {
    padding: 40px;
    width: 100%;
    margin-bottom: 60px;
    text-align: left;
    align-items: center;
  }
  
  .box_special {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
  }
  
  .box_pack {
    padding: 20px;
    width: 500px;
    display: flex;
    flex-direction: column;
    text-align: left;
  }
  
  .box_pack img {
    width: 400px;
    height: 250px;
    object-fit: cover;
  }
  
  .box_pack h3 {
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: 600;
    max-width: 400px;
    background-color: #e5ff1e;
    padding: 2%;
    border-bottom: black 1px dashed;
  }
  
  .box_pack p {
    font-size: 16px;
    text-align: left;
    font-weight: 400;
    max-width: 400px;
    background-color: #e5ff1e;
    padding: 2%;
  }

  .box_pack h3:hover {
    background-color: black;
    color: #e5ff1e;
    border-bottom: #e5ff1e 1px dashed;
    transition: all 0.3s ease;
  }

  .box_pack p:hover {
    background-color: black;
    color: #e5ff1e;

    transition: all 0.3s ease;
  }


.form-support {
    align-items: center;
    display: flex;
    justify-content: center;
}

  .box_support {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: black;
    padding: 50px;
    margin: auto;
    margin-top: 100px;
    color: #e5ff1e;
  }
  
  .form-support h4 {
    font-size: 40px;
    margin-bottom: 20px;
    background: black;
    text-transform: uppercase;
    text-align: start;
  }
  
  .controls {
    all: unset;
    width: 40%;
    background: black;
    padding: 10px;
    margin-bottom: 16px;
    border-bottom: 2px solid #e5ff1e;
    font-size: 18px;
    color: white;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
  }
  
  .form-support p {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
  }
  
  .form-support button {
    padding: 10px 20px;
    background-color: #e5ff1e;
    border: none;
    border-radius: 25px;
    font-weight: 700;
    cursor: pointer;
    display: flex;
    font-size: 20px;
}

.form-support a {
    background-color: black;
}

  .form-support button:hover {
    background-color: black;
    color: #e5ff1e;
    border: #e5ff1e solid 2px;
    transition: all 0.3s ease;
}

footer{
    width: 100%;
    padding: 50px 0px;
    background-size: cover;
    background-color: #e5ff1e;
}

.container_footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1500px;
    margin: auto;
    margin-top: 25px;
    background-color: #e5ff1e;
}

.box_footer{
    display: flex;
    flex-direction: column;
    padding: 40px;
    background-color: #e5ff1e;
}

.box_footer .terms{
    max-width: 350px;
    margin-top: 20px;
    font-weight: 500;
    color: #343434;
    font-size: 18px;
    background-color: #e5ff1e;
}

.box_footer h2{
    margin-bottom: 30px;
    color: #393939;
    font-weight: 700;
    background-color: #e5ff1e;
}

.box_footer a{
    margin-top: 10px;
    color: #393939;
    font-weight: 600;
    background-color: #e5ff1e;
}

.box_footer p{
    background-color: #e5ff1e;
}

.box_footer a:hover{
    opacity: 0.8;
    transition: all 0.3s ease;
    color: black;
}

.box_footer a .fab{
    font-size: 20px;
    background-color: #e5ff1e;
}

.box_copyright{
    max-width: 1500px;
    margin: auto;
    text-align: center;
    padding: 0px 40px;
    background-color: #e5ff1e;
}

.box_copyright p{
    margin-top: 20px;
    color: #393939;
    background-color: #e5ff1e;
}

.box_copyright hr{
    border: none;
    height: 1px;
    background-color: #7a7a7a;
    background-color: #e5ff1e;
}

.box_copyright b{ 
    background-color: #e5ff1e;
}

.eres_especial{
    background-color: #e5ff1e;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.titulo_especial{
    color: black;
    background-color: #e5ff1e;
    text-transform: uppercase;
}

.eres_especial a{
    justify-content: center;
    display: flex;
    background-color: #e5ff1e;
    
}

.eres_especial button {
    padding: 15px 20px;
    margin: 25px;
    background-color: black;
    color: #e5ff1e;
    border-radius: 35px;
    font-weight: 700;
    font-size: 28px;
}

.eres_especial button:hover {
    background-color: #e5ff1e;
    color: black;
    border: solid 4px black;
    transition: all 0.3s ease;
}