* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    background-color: #e8e8e8;
}

body, html {
    height: 100%;
}

.main-header {
    display: flex;
    height: 100vh;
    width: 100%;
}

.izquierda {
    position: relative;
    width: 50%;
    height: 100%;
    overflow: hidden;
}

.logo-image {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.derecha {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

a{text-decoration: none;}

.navLinks {
    list-style: none;
    display: flex;
    gap: 75px;
}

.navLinks a {
    font-weight: 700;
    text-decoration: none;
    color: #393939;
}

.navLinks a:hover {
    color: #e5ff1e;
    transition: all 0.3s ease;
}


button {
    padding: 10px 20px;
    background-color: #e5ff1e;
    border: none;
    border-radius: 25px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    display: flex;
    gap: 20px;
}

button:hover {
    background-color: black;
    color: #e5ff1e;
    transition: all 0.3s ease;
}

.slogan h2 {
    color:rgb(57, 57, 57);
    font-weight: 510;
    font-size: 70px;
    justify-content: left;
}

footer{
    width: 100%;
    padding: 50px 0px;
    background-size: cover;
    background-color: #e5ff1e;
}

.container__footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1500px;
    margin: auto;
    margin-top: 25px;
    background-color: #e5ff1e;
}

.box__footer{
    display: flex;
    flex-direction: column;
    padding: 40px;
    background-color: #e5ff1e;
}

.box__footer .terms{
    max-width: 350px;
    margin-top: 20px;
    font-weight: 500;
    color: #343434;
    font-size: 18px;
    background-color: #e5ff1e;
}

.box__footer h2{
    margin-bottom: 30px;
    color: #393939;
    font-weight: 700;
    background-color: #e5ff1e;
}

.box__footer a{
    margin-top: 10px;
    color: #393939;
    font-weight: 600;
    background-color: #e5ff1e;
}

.box__footer p{
    background-color: #e5ff1e;
}

.box__footer a:hover{
    opacity: 0.8;
    transition: all 0.3s ease;
}

.box__footer a .fab{
    font-size: 20px;
    background-color: #e5ff1e;
}

.box__copyright{
    max-width: 1500px;
    margin: auto;
    text-align: center;
    padding: 0px 40px;
    background-color: #e5ff1e;
}

.box__copyright p{
    margin-top: 20px;
    color: #393939;
    background-color: #e5ff1e;
}

.box__copyright hr{
    border: none;
    height: 1px;
    background-color: #7a7a7a;
    background-color: #e5ff1e;
}

.box__copyright b{ 
    background-color: #e5ff1e;
}